---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>jose@peixelaranja.com.br</h2>
</BaseLayout>
